.publication-item {
  padding: 20px;
  background: lightgray 50% / cover no-repeat;
  position: relative;
  height: 446.246px;
  flex-shrink: 0;
  overflow: hidden;
  transition: all 0.5s;
  .top-img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  :hover > .top-img {
    scale: 1.1;
  }
  .publication-title {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 80%;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .ttile {
      font-size: 18px;
      color: #000;
      font-weight: 500;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
