$white: #fff;
$black: #050505;
$primary: #792f6c;
$secondary: #d3d3d3;
$border: #666;
$borderTwo: #eaeaea;
$inputColor: #454545;
$accordion-bg-color: #454545;

:root {
  --body-font-family: "Segoe UI";
  --heading-font-family: "Segoe UI";
  --body-color: #666;
  --body-bg-color: #fff;
  --heading-color: #000;
  --primary-color: #792f6c;
  --common-color-white: #fff;
  --common-color-black: #000000;
}
